
// Fonts
@font-face {
  font-family: "LCD-Solid";
  src: url("@/assets/fonts/LCD-Solid.ttf.woff") format("woff"),
       url("@/assets/fonts/LCD-Solid.ttf.svg#LCD-Solid") format("svg"),
       url("@/assets/fonts/LCD-Solid.ttf.eot"),
       url("@/assets/fonts/LCD-Solid.ttf.eot?#iefix") format("embedded-opentype");
}

// Colors
$primary-color: #c4872b;
$secondary-color: #e0e0e0;
$hover-color: #b07524;
$background-color: #000;
$divider-color: #c4872b;
$error-color: red;

// Sizes and Padding
$border-radius: 5px;
$input-padding: 10px;
$text-font-size: 1.4em;
$heading-font-size: 3em;

// Common Styles
%lcd-font {
  font-family: "LCD-Solid", sans-serif;
}

%divider {
  border: none;
  height: 2px;
  background-color: $divider-color;
  margin: 0;
}

%button-style {
  background-color: $primary-color;
  color: white;
  padding: $input-padding 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: $hover-color;
  }
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $hover-color;
  }
}

// Components

$color-on: $primary-color;
$color-off: #ccc;

%switch-style {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  margin-right: 10px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-off;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: $color-on;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $color-on;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  &.round .slider:before {
    border-radius: 50%;
  }
}
