# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
# fly.io
fly.toml

# Environment variables
.env.development
.env.production
```# Local env files
.env
.env.*
!.env.example
