// SPDX-License-Identifier: AGPL-3.0-only

%button-style {
  background-color: $primary-color;
  color: white;
  padding: $input-padding 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: $hover-color;
  }
}

%input-style {
  font-size: 1em;
  border-radius: $border-radius;
  border: 1px solid $primary-color;
}

%textarea-style {
  padding: $input-padding;
  font-size: 1em;
  border-radius: $border-radius;
  border: 1px solid $primary-color;
}

%switch-style {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  margin-right: 10px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-off;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: $color-on;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $color-on;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  &.round .slider:before {
    border-radius: 50%;
  }
}

%message-style {
  font-family: $secondary-font;
  /* top | right | bottom | left */
  margin: 10px 15px 10px 15px;
}
