// Colors
$primary-color: #c4872b;
$secondary-color: #e0e0e0b9;
$hover-color: #b07524;
$background-color: #000;
$divider-color: $primary-color;
$error-color: red;
$success-color: green;
$warning-color: orange;

// Fonts
$primary-font: "LCD-Solid", sans-serif;
$secondary-font: "Courier New", Courier, monospace;

// Sizes and Padding
$border-radius: 5px;
$input-padding: 10px;
$text-font-size: 1.4em;
$heading-font-size: 3em;

// Navigation
$header-height: 60px;
$footer-height: 130px;

$color-on: $primary-color;
$color-off: #ccc;

$border-radius: 5px;
$input-padding: 10px;