// Fonts
@font-face {
  font-family: "LCD-Solid";
  src: url("~/assets/fonts/LCD-Solid.ttf.woff") format("woff"),
       url("~/assets/fonts/LCD-Solid.ttf.svg#LCD-Solid") format("svg"),
       url("~/assets/fonts/LCD-Solid.ttf.eot"),
       url("~/assets/fonts/LCD-Solid.ttf.eot?#iefix") format("embedded-opentype");
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
}

.divider {
  border: none;
  height: 2px;
  background-color: $divider-color;
  margin: 0;
}

h1 {
  color: $primary-color;
  font-size: large;
}

h2 {
  color: $primary-color;
  font-size: medium;
}

a {
  color: $secondary-color;
  &:hover {
    color: $hover-color;
  }
}

// Common Styles

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, html {
  overflow-x: hidden;
  margin: 0;
}

body {
  background-color: $background-color;
  font-family: $primary-font;
}

.content {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 10px;
  overflow-y: auto;
}

.error-message {
  color: $error-color;
  margin-top: 10px;
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $hover-color;
  }
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c4872b;
  text-align: center;
  font-family: "LCD-Solid";
}

.highlight {
  color: white;
  font-weight: 600;
}

// Components

$color-on: $primary-color;
$color-off: #ccc;

$border-radius: 5px;
$input-padding: 10px;

%switch-style {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  margin-right: 10px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-off;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: $color-on;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $color-on;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  &.round .slider:before {
    border-radius: 50%;
  }
}

%input-style {
  font-size: 1em;
  border-radius: $border-radius;
  border: 1px solid $primary-color;
}

%textarea-style {
  padding: $input-padding;
  font-size: 1em;
  border-radius: $border-radius;
  border: 1px solid $primary-color;
}

button {
  @extend %button-style;
}

.modal-passphrase-input {
  @extend %input-style;
}

.icon-mobile {
  filter: invert(51%) sepia(34%) saturate(862%) hue-rotate(357deg) brightness(101%) contrast(94%);
}

.new-message-textarea {
  @extend %textarea-style;
  width: 80%;
  height: 100px;
  margin: 10px 0;
  padding: $input-padding;
}

.new-message-passphrase-input {
  @extend %input-style;
  width: 80%;
  margin-top: 20px;
  padding: 10px;
}