.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}

#messages {
  margin-bottom: 20px;
  flex-grow: 1;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .item {
    display: inline-block;
    max-width: 80%;
    border: 1px solid;
    border-radius: 30px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    word-wrap: break-word;
  }
}

.sender {
  @extend %message-style;
  text-align: right;
}

.receiver {
  @extend %message-style;
  text-align: left;
}

.message-input {
  display: flex;
  gap: 10px;
  margin: 0 20px;
  align-self: flex-end;

  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
}

.new-message-notification {
  color: #fff;
  font-family: $secondary-font;
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 20px auto;
  padding: 10px;
  width: 200px;
  cursor: pointer;
}
