// SPDX-License-Identifier: AGPL-3.0-only

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: 10px;
    color: $primary-color;
  }

  .switch {
    @extend %switch-style;
  }
}