.home {
  position: relative;
  text-align: center;
  color: #ffffff;

  .intro {
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.6;
    font-size: $text-font-size;
    color: $secondary-color;
    font-family: $secondary-font;
  }

  .cta-button,
  .learn-more-button {
    @extend %button-style;
    margin: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }

  @keyframes pop {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
}
