$char-font-size: 12px;
$char-size: 18px;
$matched-char-size: 14px;

#board {
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.unmatched {
  opacity: 0.3 !important;
}

.char {
  display: inline-block;
  font-size: $char-font-size;
  width: $char-size;
  height: $char-size;
  font-family: "LCD-Solid" sans-serif;
  color: #c4872b;
}

.char.matched {
  width: $matched-char-size;
}

.chiper-display {
  margin-top: 16px;
  margin-bottom: 16px;
}

.passphrase-modal {
  font-family: $secondary-font;
}

.passphrase-input {
  width: 80%;
  margin: 20px;
  padding: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  button {
    margin-left: 8px;
  }
}

.expire-info,
.view-count {
  color: $secondary-color;
  margin-bottom: 10px;
}